
body {
    font: 14px "Geneva", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

form {
    display: inline;
}

.filter-list {
    border-radius: 2px;
    box-shadow: 0 0 5px 0 #ddd;
    padding: 10px 10px 10px 10px;
    overflow: overlay;
}

.filter-list input {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px;
    color: black;
    font-size: 12px;
    background-color: #eee;
}

.filter-list input:focus {
    outline: none;
}

.filter-list ul {
    margin: 0;
    padding: 0;
}

.filter-list ul li {
    float: left;
    display: block;
    list-style-type: none;
    color: black;
    padding: 5px 10px;
}

.filter-list ul li:hover {
    background: bisque;
    color: firebrick;
}

.selected-list {
    /*display:block;*/
    /*margin-left: -40px;*/
    border-radius: 2px;
}

.selected-list-list ul {
    display: block;
    /*float:left;*/
    margin: 0;
    padding: 0;
}

.selected-list ul li {
    float: left;
    display: block;
    list-style-type: none;
    margin-left: 2px;
    background: firebrick;
    color: bisque;
    padding: 5px 10px;
}

.input-calendar input {
    width: 80px;
    border-radius: 5px;
    border: 1px;
    color: black;
    font-size: 12px;
    padding: 5px;
    background-color: #eee;
}

.lists {
    margin-top: 10px;
}

.data-list table {
    box-shadow: 0 0 5px 0 #ddd;
    transition: 0.3s;
    margin-top: 10px;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.data-list table thead {
    text-align: left;
    color: #aaa;
}

.notice {
    font-size:10px;
    color: #ddd;
    float:right;
}
