doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='/javascripts/bower_components/react/react.js')
    script(src='/javascripts/bower_components/react/react-dom.js')
    script(src='/javascripts/build/main.js')

